*.retry
big-files-not-in-git/*
big-files-not-in-git
.project
.idea*
*.iml
.metadata
scratch/*
*.swp
.pydevproject
*crt.j2
*pem
*key.j2
.DS_Store
*.tmp
*.pyc
*.db
*.bak
*.test
__pycache__
.DS_Store
*/.DS_Store
